<div class="people_show">
  <ul><%@people.each do |person|%>
    <li class='single_person'>
      <div id="person_name">Name: <%= person.name%></div>
      <div id="person_age">Age:<%= person.age%></div>
      <div id="person_race">Race: <%= person.race.name%></div>
      <div id="person_sex">Gender: <%= person.sex%></div>
      <div id="person_state">Location: <%= person.address_string%></div>
    </li>
  <%end%></ul>
</div>

<button>
  <a href='<%= new_person_path%>' class= "animsition-link">New Person</a>
</button>