<% content_for :page_styles do %>
  <%= stylesheet_link_tag    'splash', media: 'all', 'data-turbolinks-track' => true %>
<%end%>

<% content_for :javascript_styles do %>
  <%=javascript_include_tag 'splash', 'data-turbolinks-track' => true %>
<%end%>
<h1>Welcome to the Amazing Census Data Rails App</h1>

<p><%if !(signed_in?)%> Please Log In Using the Link Above to Add Your Family Members and See Your Census Data!</p>
<%end%>

<% if signed_in? && created_first_admin %>
  <% create_first_user_data %>
<% else %>
<% end %>

<canvas id="textCanvas" width="600" height="400" class="main_canvas"></canvas>
  <div class="left">
    <h2>Famous People</h2> 
    <div>
      <%@famous_people.each do |person|%>
        <h3><%= person.name%></h3>
          <div class="picture">
            <%= image_tag(person.photo.url(:square))%>
          </div>
        <p><%= person.age%></p>
        <p><%= person.race.name%></p>
        <p><%= person.address_string%></p>
      <%end%>
    </div>
      <div class="button">
      <%= link_to "Add New Famous Person", new_famous_person_path%>
      </div>
    </div>
  </div>
  <div class="right">
      <div>
        <%if signed_in? %>
        <h2>Family Members</h2> 
          <%@family_people.each do |person|%>
            <h3><%= person.name%></h3>
              <div class="picture">
                <%= image_tag(person.photo.url(:square))%>
              </div>
            <p><%= person.age%></p>
            <p><%= person.race.name%></p>
            <p><%= person.address_string%></p>
          <%end%>
        <%end%>
      </div>
      <%if signed_in?%>
        <div class="button">
          <%= link_to "Add Family Member", new_person_path%>
        </div>
      <%end%>
  </div>