<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<h1>Cencus Data for Each Person</h1>

<div class='data_person'>
  <% @person_data.each do |individual_data|%>
    <h2><%= individual_data.person.name %></h2>
    <p>
      <div class="data_facts">They live in <%= individual_data.person.state.name%> which has a population of <%= number_with_delimiter(individual_data.state_pop, :delimiter => ',') %>.
      </div>
    </p>
    <p>
      <div class="data_facts">In <%= individual_data.person.state.name%> there are <%= number_with_delimiter(individual_data.gender_pop, :delimiter => ',') %> <%= individual_data.person.sex.downcase%>s.
      </div>
    </p>
    <p>
      <div class="data_facts">Of the <%= number_with_delimiter(individual_data.state_pop, :delimiter => ',') %> people in <%= individual_data.person.state.name%>, <%= number_with_delimiter(individual_data.gender_race_pop, :delimiter => ',') %> of them are also <%= individual_data.person.race.name%> and <%= individual_data.person.sex.downcase%> and <%= number_with_delimiter(individual_data.gender_age_pop, :delimiter => ',') %> of them are also <%= individual_data.person.sex.downcase%> and <%= individual_data.person.age%>.
      </div>
    </p>
    <p>
      <div>Combining all your data together, of the <%= number_with_delimiter(individual_data.state_pop, :delimiter => ',') %> people in <%= individual_data.person.state.name%>, <%= number_with_delimiter(individual_data.gender_age_and_race_pop, :delimiter => ',') %> of them are also a <%= individual_data.person.age%>-year-old, <%= individual_data.person.race.name%> <%= individual_data.person.sex.downcase%>.
      </div>
    </p>
    <p>
      <div>Finally, since <%= individual_data.person.state.name%> is <%= number_with_delimiter(individual_data.person.state.land_area, :delimiter => ',') %> square miles, you would only have to walk  <%= individual_data.person_per_sq_miles%> miles, to meet another <%= individual_data.person.age%>-year-old, <%= individual_data.person.race.name%> <%= individual_data.person.sex.downcase%>.
      </div>
    </p>
    <p>
      <div>Interesting, right!?
      </div>
    </p><br>
  <%end%>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  var handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds(); 
    handler.addCircles(<%=raw @circle_hash.to_json%>)
    var handler2 = Gmaps.build('Google').places.PlacesService(handler);
    handler2.places.PlaceSearchRequest({
      location: {lng: -95, lat: 45,},
      radius: 500,
      types: ['store']
    }, console.log("Hey there!"));
    //handler.getMap().setZoom(6);
  });

  var handler2 = Gmaps.build('Google')
    handler2.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      var handler3 = handler2.places.PlacesService(handler);
      handler3.places.PlaceSearchRequest({
        location: {lng: -95, lat: 45,},
        radius: 500,
        types: ['store']
      }, console.log("Hey there!"));
    });
</script>

<script type="text/javascript">
var map;
var infowindow;

function initMap() {
  var pyrmont = {lat: -33.867, lng: 151.195};

  map = new google.maps.Map(document.getElementById('map'), {
    center: pyrmont,
    zoom: 15
  });

  infowindow = new google.maps.InfoWindow();

  var service = new google.maps.places.PlacesService(map);
  service.nearbySearch({
    location: pyrmont,
    radius: 500,
    types: ['store']
  }, callback);
}

function callback(results, status) {
  if (status === google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      createMarker(results[i]);
    }
  }
}

function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}
</script>